    <main class="container">
      <section id="login">
        <h1 class="text-center my-5">Hola, usuario</h1>

        <section>
            <form id="form-login">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" id="login-nombre" class="form-control my-1">
                <label for="password" class="form-label">password</label>
                <input type="password" name="password" id="login-password" class="form-control my-1" >
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="reset" class="btn btn-warning">Limpiar</button>
            </form>
        </section>
      </section>
    </main>

